extends ./layout.jade
block vars
    - body_class = "bg-black"
block content
    div.error-page
        h2.headline 404
        div.error-content
            h3 <i class="fa fa-warning text-yellow"></i> Oops! Page not found.
            p We could not find the page you were looking for.